.detailsButtonEffect {
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 10px 12px;
    border-radius: 10px;
    text-decoration: none;
}

.detailsButtonEffect:hover {
    background-color: red;
    color: white;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.likesStyle {
    background-color: white;
    border-radius: 1rem;

}