.subscription {
    background: #e6dfe998;
    padding: 150px 0;
}

/*subscribe-title*/
.subscribe-title {
    margin-bottom: 52px;
}

.subscribe-title h2 {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}

.subscribe-title h3 {
    margin-top: 50px;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}

.subscribe-title p {
    color: #7b8088;
    font-size: 18px;
    font-weight: 600;
    margin-top: 28px;
}