.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.searchButtonEffect {
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 10px 12px;
    border-radius: 10px;
    text-decoration: none;
}

.searchButtonEffect:hover {
    background-color: red;
    color: white;
}

.heading {
    margin-bottom: 20px;
}