.headerSection {
    display: flex;
    justify-content: right;
    position: relative;
}

.nonBullet {
    list-style-type: none;
    display: flex;
    flex-direction: row;

}

.navLi {
    margin: 10px 20px;
}

.linkColour:hover {
    color: red;
}