@import "./login.css";
@import "./register.css";
@import "./user.css";
@import "./details.css";

main {
    min-height: 100vh;

}

footer a {
    text-decoration: none;
    color: rgba(105, 53, 4, 0.815);
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header a {
    text-decoration: none;
    color: rgba(105, 53, 4, 0.815);
    background-color: white;
}

footer span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
}

header span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
}

#login {
    display: flex;
    justify-content: center;
    position: relative;

}

#catalog-item-section a {
    text-decoration: none;
    color: rgba(216, 110, 12, 0.815);

}

#home-page {
    width: auto;
    padding-right: 15px;
    padding-top: 7em;
    justify-content: right;
    padding-left: 15px;
    text-align: center;
}

#create {
    color: black;
    margin: 30px 20px;
}

#create-page {
    display: flex;
    padding: 20px 20px;
    position: relative;
    box-sizing: border-box;
    justify-content: center;
}

.about-container {
    display: flexbox;
    padding: 20px 20px;
    position: relative;
    box-sizing: border-box;
    justify-content: center;
}


.about-title {
    padding: 10px 400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#details-page {
    display: grid;
    border: 1px solid black;
    width: 30%;
    padding: 10px 100px;
    margin: 10px 600px;
    box-sizing: border-box;
    border-radius: 1cm;
    justify-content: center;
}

.info-section img {
    max-width: 20%;
    max-height: 10%;
    position: left;
}

.detail-description {
    margin: 10px 10px;
}

.button {
    padding: 10px 10px;
    margin: 10px 10px;
}

.button-section span {
   color: black;

}


