.inputHoverColor:focus {
    color: #080000;
    transition: color 0.3s;
}


.createButtonEffect {
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 10px 12px;
    border-radius: 10px;
    text-decoration: none;
}

.createButtonEffect:hover {
    background-color: red;
    color: white;
}
